# PostgreSQL
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres

# JWT
JWT_SECRET=change-this-in-production

# Redis
REDIS_URL=redis://redis:6379

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
